<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Datenbankverbindungseinstellungen -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/newtestdata</property>
        <property name="hibernate.connection.username">myuser</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Hibernate-spezifische Einstellungen -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.default_schema">public</property>
        <!-- Liste der Entity-Klassen -->
        <mapping class="edu.mci.foodorderbuddy.data.entity.Person"/>
        <mapping class="edu.mci.foodorderbuddy.data.entity.Cart"/>
        <mapping class="edu.mci.foodorderbuddy.data.entity.Menu"/>
        <mapping class="edu.mci.foodorderbuddy.data.entity.OrderHistory"/>
    </session-factory>
</hibernate-configuration>